.contactItem {
  background: linear-gradient(#714083, #a39dc1);
  border-radius: 10px;
  color: #f0f8ff;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 250px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 10px 10px 20px #714083;
  transition: all 250ms linear;
  &:hover {
    scale: 1.1;
  }
}
.contactItemText {
  display: flex;
  column-gap: 10px;
}
.buttonDeleteContact {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  max-width: fit-content;
  align-self: center;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background-color: #573164;
  color: #f0f8ff;
  font-size: 20px;
  transition: all 250ms linear;
  &:hover,
  &:active {
    border: 2px solid #d8e0ed;
    scale: 1.1;
  }
}
.customToastDelete {
  background-color: #746aa2;
  color: #f0f8ff;
}
