.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: auto;
  background: linear-gradient(#5c49b6, #a39dc1);
  border-radius: 10px;
  color: #f0f8ff;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 10px 20px #5c49b6;
  & h3 {
    margin: 10px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.formLabel {
  text-align: center;
  font-size: 25px;
  position: relative;
}
.formInput {
  outline: transparent;
  border: 2px solid #615793;
  color: #f0f8ff;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 0 10px 0 10px;
  border-radius: 4px;
  transition: all 250ms linear;
  &:hover {
    border: 2px solid #8f84c6;
    background-color: transparent;
    scale: 1.1;
  }
  &:active {
    border: 2px solid #8f84c6;
    background-color: transparent;
    scale: 1.1;
  }
  &:-webkit-autofill {
    border: 2px solid #8f84c6;
    -webkit-text-fill-color: #5c49b6;
    scale: 1.1;
  }
}
.buttonAddContact {
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  max-width: fit-content;
  align-self: center;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background-color: #5c49b6;
  color: #f0f8ff;
  font-size: 20px;
  transition: all 250ms linear;
  &:hover,
  &:active {
    border: 2px solid #d8e0ed;
    scale: 1.1;
  }
}
.error {
  color: rgb(212, 75, 209);
  font-size: 16px;
  position: absolute;
  bottom: -35px;
  font-weight: 500;
}
.customToastAdd {
  background-color: #64579b;
  color: #f0f8ff;
}
