@import "node_modules/modern-normalize/modern-normalize.css";

body {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.header {
  color: #6e5cc7;
  text-transform: uppercase;
  text-align: center;
}
