.homepage {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .homepage {
    margin-top: 200px;
  }
}
.header {
  color: #714083;
  text-align: center;
}
.icon {
  border-radius: 100%;
  background: linear-gradient(#8b639a, #ccb8d4);
  padding: 20px;
  color: #714083;
  width: 200px;
  height: 200px;
}
